<!DOCTYPE html>
<html>
    <head>
        <title>Cloudpaper</title>
        <script src="build/pdf.js"></script>
        <script src="socket.io.js"></script>
    </head>
    <body>
        {{{@body}}}
    </body>
</html>
