<!DOCTYPE html>
<html>
    <head>
        <title>Hello world</title>
        <script src="build/pdf.js"></script>
        <script src="socket.io.js"></script>
    </head>
    <body>
        <button id="button">hello world</button>
        <canvas id="pdf"/>
        <script src="index.js"></script>
    </body>
</html>
